<div class="sidebar bg-dark" role="cdb-sidebar" color="white">
    <div class="sidebar-container">
      <div class="sidebar-header">
        <a class="sidebar-brand">
            [user connected name]
        </a>
      </div>
      <div class="sidebar-header text-start">
        <div class="sidebar-brand">
            <a class="sidebar-item">
                <div class="sidebar-item-content">
                    <nav>
                        <label for="user"><span>Utilisateur</span></label>               
                        <input type="checkbox" id="user"> 
                        <ul class="slide">
                          <li><a routerLink="/user">Liste Utilisateur</a></li> 
                          <li><a href="#">Ajouter Utilisateur</a></li>
                        </ul>
                      </nav> 
                </div>
              </a>
              <a class="sidebar-item">
                <div class="sidebar-item-content">
                    <nav>
                        <label for="agency"><span>Agence</span></label>               
                        <input type="checkbox" id="agency"> 
                        <ul class="slide">
                          <li><a href="agency">Liste Agence</a></li> 
                          <li><a href="#">Ajouter Agence</a></li>
                        </ul>
                      </nav> 
                </div>
              </a>
              <a class="sidebar-item">
                <div class="sidebar-item-content">
                    <nav>
                        <label for="center"><span>Centre</span></label>               
                        <input type="checkbox" id="center"> 
                        <ul class="slide">
                          <li><a href="center">Liste Centre</a></li> 
                          <li><a href="#">Ajouter Centre</a></li>
                        </ul>
                      </nav> 
                </div>
              </a>
              <a class="sidebar-item">
                <div class="sidebar-item-content">
                    <nav>
                        <label for="room"><span>Salle</span></label>               
                        <input type="checkbox" id="room"> 
                        <ul class="slide">
                          <li><a href="room">Liste Salle</a></li> 
                          <li><a href="#">Ajouter Salle</a></li>
                        </ul>
                      </nav> 
                </div>
              </a>
          <a class="sidebar-item">
            <div class="sidebar-item-content">
                <nav>
                    <label for="equipment"><span>Equippement</span></label>               
                    <input type="checkbox" id="equipment"> 
                    <ul class="slide">
                      <li><a href="equipment">Liste Equippement</a></li> 
                      <li><a href="#">Ajouter Equippement</a></li>
                    </ul>
                  </nav> 
            </div>
          </a>
          <a class="sidebar-item">
            <div class="sidebar-item-content">
                <nav>
                    <label for="document"><span>Document</span></label>               
                    <input type="checkbox" id="document"> 
                    <ul class="slide">
                      <li><a href="document">Liste Document</a></li> 
                      <li><a href="#">Ajouter Document</a></li>
                    </ul>
                  </nav> 
            </div>
          </a>
          <a class="sidebar-item">
            <div class="sidebar-item-content">
                <nav>
                    <label for="document"><span>Intervention</span></label>               
                    <input type="checkbox" id="document"> 
                    <ul class="slide">
                      <li><a href="intervention">Liste Intervention</a></li> 
                      <li><a href="#">Ajouter Intervention</a></li>
                    </ul>
                  </nav> 
            </div>
          </a>
          <a class="sidebar-item">
            <div class="sidebar-item-content">
                <nav>
                    <label for="document"><span>Attribution</span></label>               
                    <input type="checkbox" id="document"> 
                    <ul class="slide">
                      <li><a href="attribution">Liste Attribution</a></li> 
                      <li><a href="#">Ajouter Attribution</a></li>
                    </ul>
                  </nav> 
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>